# requirements.txt (for local development)
Flask
Flask-Cors
Flask-SocketIO
gunicorn
eventlet
google-cloud-vision
groq
pandas
openpyxl
thefuzz
# UI and Automation Libraries
sv-ttk
pyautogui
pywinauto
pyperclip
qrcode[pil]
python-socketio[client]
